@import 'tailwindcss';
@plugin "daisyui" {
	themes:
		light,
		dark --prefersdark,
		bumblebee;
}

@plugin "daisyui/theme" {
	name: 'bumblebee';
	default: true;
	--color-primary: oklch(79.2% 0.209 151.711);
	--color-primary-content: #000000;
	--color-secondary: teal;
	--color-secondary-content: #ffffff;
}

@plugin "daisyui/theme" {
	name: 'dark';
	prefersdark: true;
	--radius-box: 1rem;
	--radius-field: 0.5rem;
	--radius-selector: 1rem;
}

.toaster .status {
	all: unset !important;
}

.indicator > div:first-child {
	display: none !important;
}
.status-shadow {
	box-shadow: inset #aaaaaaee 0 0 2px 0;
}

.own-label {
	translate: -12.5% calc(-50% - 0.125em);
	scale: 0.75;
	position: absolute;
	top: 0;
	z-index: 2;
	background-color: var(--color-base-100);
	border-radius: 4px;
	font-weight: 600;
	inset-inline-start: 0.75rem;
	padding-inline: 0.25rem;
	font-size: 0.875rem;
}
