@import 'tailwindcss';
@plugin "daisyui" {
	themes:
		light,
		dark --prefersdark,
		bumblebee;
}

@plugin "daisyui/theme" {
	name: 'bumblebee';
	default: true;
	--color-primary: oklch(79.2% 0.209 151.711);
	--color-primary-content: #000000;
	--color-secondary: teal;
	--color-secondary-content: #ffffff;
}

@plugin "daisyui/theme" {
	name: 'dark';
	prefersdark: true;
	--radius-box: 1rem;
	--radius-field: 0.5rem;
	--radius-selector: 1rem;
}

.toaster .status {
	all: unset !important;
}

.indicator > div:first-child {
	display: none !important;
}
